html {
  font-size: 62.5%;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background: #f8f5e2;
  color-adjust: exact !important;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Helvetica Neue', HelveticaNeue, YuGothic, 'Yu Gothic Medium', 'Yu Gothic', Verdana, Meiryo, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  -webkit-print-color-adjust: exact !important;
}

b, 
strong, 
.bold {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI semibold', 'Helvetica Neue', HelveticaNeue, YuGothic, 'Yu Gothic', 'SegoeUI', Verdana, Meiryo, sans-serif;
}

:lang(x)::-ms-backdrop, body {
  font-family: 'Segoe UI', Meiryo, sans-serif;
}

@media only screen and (min-width: 76.7rem) {

  body {
    color-adjust: exact !important;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Helvetica Neue', HelveticaNeue, YuGothic, 'Yu Gothic Medium', 'Yu Gothic', Verdana, Meiryo, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: auto;
    padding: 0;
    page-break-after: auto;
    -webkit-print-color-adjust: exact;
  }

  b, strong, .bold {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI semibold', 'Helvetica Neue', HelveticaNeue, YuGothic, 'Yu Gothic', 'SegoeUI', Verdana, Meiryo, sans-serif;
  }

  :lang(x)::-ms-backdrop, 
  body {
    font-family: 'Segoe UI', Meiryo, sans-serif;
  }
}

@-moz-document url-prefix() {
  html {
    font-size: 62.5%;
    line-height: 1.6;
  }

  body {
    color-adjust: exact !important;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Helvetica Neue', HelveticaNeue, YuGothic, 'Yu Gothic Medium', 'Yu Gothic', Verdana, Meiryo, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: auto;
    padding: 0;
    page-break-after: auto;
    -webkit-print-color-adjust: exact;
  }

  .menu {
    border-bottom: .05rem solid #c5b8bb;
    border-top: .05rem solid #c5b8bb;
  }

  .menu li {
    border-left: .05rem solid #c5b8bb;
  }

  h1, 
  h2, 
  h3, 
  h4, 
  h5, 
  h6 {
    page-break-after: exact;
    page-break-inside: exact;
  }

  table, 
  pre {
    border: .1rem solid #000;
    border-collapse: collapse;
    font-size: 100%;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    page-break-inside: exact;
    width: 100%;
  }

  tr {
    border-bottom: .1rem solid #554447;
  }

  th {
    background: #e0e7ec;
    border-right: .1rem solid #554447;
    color: #554447;
    font-weight: normal;
    padding: .4rem;
    text-align: left;
    white-space: nowrap;
    width: 10%;
  }
  
  ul, 
  ol, 
  dl {
    page-break-before: exact;
  }

  .menu {
    border: .05rem solid #c5b8bb;
  }

  .menu li {
    border: .05rem solid #c5b8bb;
  }

}

@media print {
  body {
    background: #f8f5e2;
    color-adjust: exact;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    page-break-after: auto !important;
    -webkit-print-color-adjust: exact;
  }
}

/************************************************hearder*****************************************************/

input::-ms-clear {
  display: none;
}

header, 
.container, 
.content-page, 
.body-content {
  min-width: 76.8rem;
}

.box {
  /* background-color: #f38400; */
  background-image: linear-gradient(-60deg, #f27e00 100%, #f38400 0%);
  border: .1rem solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(45deg,#fec100, #ffe474, #fce0bf, #ffd52c, #fff4cd,  #f7b05b, #fec100);
  padding: .4rem;
}

#header-inner {
  background-color: #fff;
  margin: auto;
  /* max-width: 120rem; */
}

.logo {
  margin: auto;
  max-width: 120rem;
  /* padding: 0 0 0 2rem; */
}

.menu {
  background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 8%, #efeeec 4%, #e9e9e7 86%);
  border-bottom: .2rem solid #bfc0c2;
  border-top: .25rem solid #e1e1e1;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 100%;
}






.menu-title {
  /* background-image: linear-gradient(to top, #ddd 13%, #efefef 43%, #ddd 37%, #efefef 0%, #ddd 90%); */
  background-color: #ddd;
  border-right: .05rem solid #bfc0c2;
  color: #554447;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  list-style: none;
  margin: 0 auto;
  max-width: 120rem;
  padding: 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.menu li {
  border-left: .05rem solid #bfc0c2;
  color: #554447;
  list-style-type: none;
  margin: 0;
  padding: 1.8rem 0;
  text-align: center;
  text-decoration: none;
  width: 20%;
}

.menu li a {
  color: #554447;
  display: block;
  /* text-shadow: .3rem .1rem .2rem #fff; */
  opacity: 1;
  text-decoration: none;
  /* text-shadow: -.7rem .1rem .35rem #fff; */
  text-shadow: -.6rem .1rem .4rem #fff;
}

.menu-a.active {
  background-image: linear-gradient(to top, #efd5b1 8%, #f3d7b1 23%, #f7e2c5 44%, #f9e4c9 72%, #f8e4c6 91%);
  display: block;
}

.menu-title li:hover, 
.menu-title li:visited:hover {
  background-image: linear-gradient(to top, #efd5b1 8%, #f3d7b1 23%, #f7e2c5 44%, #f9e4c9 72%, #f8e4c6 91%);
  display: block;
  list-style: none;
  text-decoration: none;
}

.menu-title li a:hover {
  color: #554447;
  display: block;
  text-decoration: none;
}

/************************************************banner*****************************************************/

.banner-page {
  background-color: #f8e8ce;
}

.banner {
  background-image: url(../images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  margin: auto;
  max-width: 120rem;
  min-height: 30rem;
  opacity: 1;
  position: relative;
  z-index: 1;
}

.banner-title {
  color: #fff;
  /* font-family: SF Pro Display; */
  font-size: 1.6rem;
  /* font-weight: bold; */
  left: 3%;
  max-width: 36rem;
  opacity: 1;
  padding-top: 3.5rem;
  position: relative;
  text-align: left;
  /* -webkit-text-stroke: .1rem #554447; */
}

.banner-title p {
  color: #fff;
  text-shadow: -.1rem 0#554447, 0 .1rem#554447, .1rem 0#554447, 0 -.1rem #554447;
}

/***********************************************content******************************************************/

.container {
  background: #fff;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  margin: auto;
  max-width: 120rem;
  padding: 0 2rem 2rem 2rem;
  position: relative;
  text-align: left;
  /* top: -2.5rem; */
  z-index: 1000;
}

.column-left-home {
  margin: 0;
  padding: 0;
  width: 60%;
}

.column-content {
  border-bottom: dotted .1rem #999;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  list-style: none;
  margin-bottom: 0;
  padding: 2rem 0;
  /* padding-bottom: 15px; */
  padding-left: 0;
  text-decoration: none;
  width: 100%;
}

.column-content a {
  list-style: none;
  margin-bottom: 0;
  padding-bottom: 0;
  text-decoration: none;
}

.column-content a p {
  color: #554447;
  display: contents;
  font-size: 1.6rem;
  font-weight: bold;
}

.column-content span {
  background-color: #554447;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;
  color: #fff;
  font-size: 1rem;
  padding: .4rem .7rem;
  text-align: center;
  width: 8rem;
}

.list {
  margin-left: 1.5rem;
}

.list-info {
  margin-left: 4.5rem;
}

.column-content img {
  padding-right: 1rem;
}

.column-title {
  font-size: 1.4rem;
  margin: .8rem 0;
}

.column-right-home {
  line-height: 1.5;
  margin: 0;
  padding: 2rem 0 0 4rem;
  width: 40%;
}

.information {
  background-color: #1ba8bd;
  border-bottom-style: double;
  border-color: #0f899c;
  border-top-style: double;
  color: #fff;
  font-size: 1.4rem;
  list-style: none;
  /* padding: .2rem 0; */
  text-decoration: none;
}

.information a {
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
}

.information span {
  font-size: 1.6rem;
  padding-left: .8rem;
  text-align: center;
}

.bulletin-home {
  margin: 0;
  padding: 0;
}

.bulletin-home li {
  border-bottom: dotted .1rem #ddd;
  list-style: none;
  margin: 0;
  padding: .4rem 0;
}

.bulletin-home li span {
  color: #554447;
  font-size: 1.4rem;
  font-weight: bold;
}

.bulletin-home li a {
  color: #0072bc;
  font-size: 1.4rem;
  text-decoration: none;
}

/***********************************************information******************************************************/

.banner-info {
  background-image: url(../images/subbanner-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  margin: auto;
  max-width: 120rem;
  min-height: 20rem;
  opacity: 1;
  position: relative;
  z-index: 1;
}

.banner-title-info {
  color: #000;
  /* font-family: Meiryo; */
  font-size: 2rem;
  /* font-weight: bold; */
  opacity: 1;
  padding-top: 8rem;
  position: relative;
  text-align: right;
  width: 95%;
  /* -webkit-text-stroke: .1rem #000; */
}

.banner-title-info p {
  color: #000;
  text-shadow: -.1rem 0#576d7a, 0 .1rem#576d7a, .1rem 0#576d7a, 0 -.1rem #576d7a;
}

.breadcrumbs {
  color: #554447;
  font-size: 1.4rem;
}

.breadcrumbs a {
  color: #0072bc;
  font-size: 1.4rem;
  list-style: none;
  text-decoration: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.item-title {
  background: #1ba8bd;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  padding: .6rem .6rem;
}

.item-title a {
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  list-style: none;
  padding-right: .5rem;
  text-decoration: none;
}

.item-title h2 {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  list-style: none;
  margin: 0;
  text-decoration: none
}

.itemInfo {
  font-size: 1.4rem;
  text-align: right;
}

.itemBody p {
  font-size: 1.4rem;
  line-height: 1.6;
  margin: 2.2rem 0;
}

.itemBody a {
  color: #0072bc;
  font-size: 1.4rem;
  list-style: none;
  text-decoration: none;
}

.itemBody a:hover {
  text-decoration: underline;
}

.bulletin {
  margin: 0;
  padding: 0;
}

.bulletin li {
  border-bottom: dotted .1rem #ddd;
  list-style: none;
  margin: 0;
  padding: .4rem 0 .4rem 1rem;
}

.bulletin li span {
  color: #554447;
  font-size: 1.4rem;
  font-weight: bold;
}

.bulletin li a {
  color: #0072bc;
  font-size: 1.4rem;
  text-decoration: none;
}

.bulletin, 
.right-sidebar {
  margin: 0;
  padding: 0;
}

.bulletin li, 
.right-sidebar li {
  border-bottom: dotted .1rem #ddd;
  list-style: none;
  margin: 0;
  padding: .4rem 0 .4rem 1rem;
}

.bulletin li span, 
.right-sidebar li span {
  color: #554447;
  font-size: 1.4rem;
  font-weight: bold;
}

.bulletin li a, 
.right-sidebar li a {
  color: #0072bc;
  font-size: 1.4rem;
  text-decoration: none;
}

/***********************************************about******************************************************/

.banner-about {
  background-image: url(../images/about_asjy.jpg);
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  margin: auto;
  max-width: 120rem;
  min-height: 20rem;
  opacity: 1;
  position: relative;
  width: 100%;
  z-index: 1;
}

.column-left {
  margin: 0;
  padding-top: 2rem;
  width: 70%;
}

h1 {
  border-bottom: solid .2rem #606060;
  border-top: solid .2rem #606060;
  color: #606060;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1.0em;
  margin-top: .5rem;
  padding: 1rem .4rem;
}

h2 {
  background: #606060;
  border: solid .2rem #909090;
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.4;
  margin: 1.0em 0;
  padding: 0 .4rem;
}

.about-text {
  font-size: 1.4rem;
  margin: 1.0em 0;
  margin-left: 1.5rem;
  padding: 0;
  padding-left: 1.5rem;
  text-align: left;
}

.pico-body p {
  font-size: 1.4rem;
}

.link-page {
  border-top: dotted .1rem #ddd;
  margin-top: 2rem;
}

.next {
  float: right;
  font-size: 1.4rem;
  padding: .6rem .4rem;
  text-align: right;
  width: 48%;
}

.column-right {
  /* line-height: 1.5; */
  margin: 0;
  padding: 2rem 0 0 4rem;
  width: 30%;
}

.side-menu-title {
  border-bottom: solid .1rem #808080;
  border-top: solid .3rem #808080;
  color: #505050;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
  padding: .4rem 0;
}

.right-sidebar {
  margin: 0;
  padding: 0;
}

.right-sidebar li {
  border-bottom: dotted .1rem #ddd;
  list-style: none;
  margin: 0;
  padding: .4rem 0 .4rem 1rem;
}

.right-sidebar li span {
  color: #554447;
  font-size: 1.4rem;
  font-weight: bold;
}

.right-sidebar li a {
  color: #0072bc;
  font-size: 1.4rem;
  text-decoration: none;
}

.column-left-sub {
  margin: auto;
  padding-top: 2rem;
  width: 84rem;
}

.column-right-sub {
  left: 1rem;
  padding: 2rem 0 0 4rem;
  width: 32rem;
}

/***********************************************membership******************************************************/

.banner-membership {
  background-image: url(../images/about_asjy.jpg);
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  margin: auto;
  max-width: 120rem;
  min-height: 20rem;
  opacity: 1;
  position: relative;
  z-index: 1;
}

.top-user {
  background: #f8f5e2;
  margin-bottom: 1rem;
  padding: 1rem;
}

.prev {
  float: left;
  font-size: 1.4rem;
  padding: .6rem .4rem;
  width: 48%;
}

.content-subpage p {
  font-size: 1.4rem;
  margin: 1.6em 0;
}

.content-subpage p a {
  color: #0072bc;
  list-style: none;
  text-decoration: none;
}

.content-subpage p a:hover {
  text-decoration: underline;
}

.link-page a {
  color: #0072bc;
  list-style: none;
  text-decoration: none;
}

.link-page a:hover {
  text-decoration: underline;
}

/***********************************************list******************************************************/

.banner-list {
  background-image: url(../images/contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  margin: auto;
  max-width: 120rem;
  min-height: 20rem;
  opacity: 1;
  position: relative;
  z-index: 1;
}

.column-left-list {
  margin: auto;
  padding-top: 2rem;
  width: 84rem;
}

#centercolumn table {
  font-size: 100%;
}

table {
  border: .1rem solid #000;
  border-collapse: collapse;
  font-size: 100%;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  width: 100%;
}

th {
  background: #e0e7ec;
  border-right: .1rem solid #554447;
  color: #554447;
  font-weight: normal;
  padding: .4rem;
  text-align: left;
  white-space: nowrap;
  width: 10%;
}

tr {
  border-bottom: .1rem solid #554447;
}

table td {
  color: #554447;
  padding: .4rem;
}

.pico-body p {
  font-size: 1.4rem;
  margin: 1.6em 0;
}

.pico-body .caption {
  color: #554447;
  margin: 0;
  padding: .5rem 0;
  text-align: left;
}

/************************************************autism*****************************************************/

.banner-autism {
  background-image: url(../images/about_autism.jpg);
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  margin: auto;
  max-width: 120rem;
  min-height: 20rem;
  opacity: 1;
  position: relative;
  z-index: 1;
}

.pico-body a {
  color: #0072bc;
  list-style: none;
  text-decoration: none;
}

.pico-body a:hover {
  text-decoration: underline;
}

.text-title {
  text-align: right;
}

/************************************************form-mail*****************************************************/

.mailform dt {
  border-top: dotted .1rem #ddd;
  float: left;
  padding: .6rem 1rem;
  width: 17em;
}

#signupForm {
  border-top: dotted .1rem #ddd;
  /* border-bottom: dotted .1rem #ddd; */
}

.mailform dd {
  border-left: solid .3rem #ddd;
  border-top: dotted .1rem #ddd;
  margin-left: 18em;
  padding: .6rem 1.5rem;
}

.mailform textarea, 
input {
  border: .1rem solid #aaa;
  outline: none;
  padding: .2em;
}

input {
  font-size: 1.4rem;
}

.mailform input[type=checkbox] {
  margin-right: 1rem;
}

.cmxform label {
  display: inline-block;
  line-height: 1.8;
  vertical-align: top;
}

.cmxform label.error {
  color: red;
  display: block;
  width: 34rem;
}

.cmxform input.submit {
  font-size: 1.4rem;
  margin-left: 8.5rem;
}

.mailform {
  border-bottom: dotted .1rem #ddd;
  font-size: 100%;
  font-size: 1.4rem;
}

.check {
  margin-right: 1rem;
}

.content-mail p {
  font-size: 1.4rem;
  margin: 1.6em 0;
}

.content-mail p a {
  color: #0072bc;
  list-style: none;
  text-decoration: none;
}

.content-mail p a:hover {
  text-decoration: underline;
}

/************************************************error-mail*****************************************************/

.mailerror {
  background-color: #ffcccc;
  font-size: 1.4rem;
  line-height: 2;
  padding: 1rem;
}

.mailresult {
  border: solid .1rem #ddd;
  font-size: 1.4rem;
  line-height: 2;
  margin: 2.3rem 0;
  padding: 1rem;
}

.error-text {
  color: red;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 2.3rem 0;
}

input {
  border: .1rem solid #aaa;
  font-size: 1.4rem;
  padding: .2em;
}

.alert {
  background-color: #46911e;
  color: #fff;
  display: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
}

.replies{
  font-size: 1.4rem;
}

.p-country-name {
  display: none;
}

/***********************************************footer******************************************************/

footer {
  background-image: linear-gradient(to top, #f48200 0%, #f67b00 1%, #f87600 31%, #fa7100 75%, #ff6600 100%);
  border-top: solid 2rem #fff;
  color: #fff;
  font-size: 1.4rem;
  justify-content: space-around;
  margin: auto;
  margin-top: -4rem;
  min-width: 76.8rem;
  padding: 4rem 0 8rem 0;
  text-align: center;
}

.footerinfo {
  margin: auto;
  max-width: 120rem;
}

.footerinfo p {
  margin-top: 0;
  text-align: left;
}

/*********************************************** Loading ***********************************************/

.overloading {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.loading-content {
  background-color: rgb(202 238 231);
  color: #023b0f;
  font-family: sans-serif;
  font-size: 3rem;
  left: 50%;
  opacity: .7;
  padding: 1.5rem 4rem;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.loader {
  display: inline-block;
  height: 5rem;
  position: relative;
  vertical-align: middle;
  width: 5rem;
}

.loader-double {
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
  border: .6rem solid transparent;
  border-bottom-color: blueviolet;
  border-radius: 5rem;
  border-top-color: green;
}

.loader-double:before, 
.loader-double:after {
  -webkit-animation: spinreverse 2s linear infinite;
  animation: spinreverse 2s linear infinite;
  border: .6rem solid transparent;
  border-bottom-color: #fff;
  border-radius: 5rem;
  border-top-color: #fff;
  bottom: .5rem;
  content: '';
  filter: alpha(opacity=6);
  left: .5rem;
  -khtml-opacity: .6;
  -moz-opacity: .6;
  opacity: .6;
  position: absolute;
  right: .5rem;
  top: .5rem;
}

.loader-double:before {
  -webkit-animation: spinreverse 3s linear infinite;
  animation: spinreverse 3s linear infinite;
  bottom: 1.5rem;
  left: 1.5rem;
  right: 1.5rem;
  top: 1.5rem;
}

@-webkit-keyframes spin {
  0% {
    tranform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  100% {
    tranform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinreverse {
  0% {
    tranform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  100% {
    tranform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes spinreverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}